/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  border: solid 5px #0198a5;
  background-color: #60e5c6;
}
.other-photo {
  margin: 10px;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  border: solid 5px #1cd253;
  background-color: #79de9b;
}
.image-section {
  margin: 10px;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  display: flex;          
  flex-direction: row;
}

body {
  background-color: #f5ed21;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 5px #ff0062;
  background-color: #ff7cb3;
}


