/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(9, 164, 115);
    background-color:rgb(118, 217, 179);
    color:rgb(0, 0, 0);
  }
  
  .challenge {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(89, 9, 164);
    background-color:rgb(183, 118, 217);
    color:rgb(0, 0, 0);
  }
  .problem {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(89, 9, 164);
    background-color:rgb(183, 118, 217);
    color:rgb(0, 0, 0);
  }
  .reflection {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(89, 9, 164);
    background-color:rgb(183, 118, 217);
    color:rgb(0, 0, 0);
  }
  .output {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px rgb(89, 9, 164);
    background-color:rgb(183, 118, 217);
    color:rgb(0, 0, 0);
  }

.cat-photo {
  margin: 10px;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  border: solid 5px #0198a5;
  background-color: #60e5c6;
}

.special {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px rgb(71, 245, 251);
  background-color:rgb(75, 86, 206);
  color: #ffffff;
}


p {
  margin: 10px;
  padding: 10px;
  border: solid 5px rgb(201, 189, 11);
  background-color:rgb(213, 230, 127);
}

.special-p {
  margin: 10px;
  padding: 10px;
  border: solid 5px rgb(201, 138, 11);
  background-color:rgb(230, 184, 127);
}